body {
  margin:0;
}
.box {
  background-color: #ff6600;
  /* width:4rem; */
  height:4rem;
  /* margin:20px; */
  width: calc( 100% - 32px );
  margin-left: 32px;
  /* width:100%; */
}
.box .box__inner {
  height:2rem;
  width: 2rem;
  background-color:purple;
  transition: 1s transform linear;
  margin-left:-32px;
}

.box:hover .box__inner {
  transform: rotateY(180deg);
}

.rotated {
  transform: rotate(160deg);
}
