body {
  margin:0;
  background-color: #444;
  height:200vh;
}
header {
  position:fixed;
  top:0;
  left:0;
  background-color: #fff;
  width:100%;
}
ul li {
  display:inline-block;
}

h1 {
  margin:0;
  padding-top:50px;
  padding-top: calc(50px + 50px); /*height of heading plus normal padding-top*/
}
