
body {
  margin:0;
}
.box {
  width:400px;
  height:400px;
  background:blue;
  position:relative;
  margin:100px;
  cursor:pointer;
  overflow:hidden;
}

.box .slide-in {
  width:100%;
  height:100%;
  background:red;
  transition: 0.5s transform linear;
  transform: translate(0, 100%);
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:3rem;
  color:#fff;

}

/* We want to move the red box from one
position to another using the :hover psuedo element */

.box:hover .slide-in {
  transform: translate(0, 0)
}
